<div class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Custom File Upload</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="d-grid">
          <p class="text-muted">
            Upload your blog image here, Please click "Upload Image" Button.
          </p>
          <FileUploader [showPreview]="true" />
        </div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
</div>